.control-group {
    margin-bottom: 5px;
}

._jsonform-array-ul {
    padding-left: 0;
}

._jsonform-array-buttons {
    display: inline-block;
}

.btn {
    font-size: inherit;
}

svg {
    overflow: visible;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.form-control {
    font-size: inherit;
}

text {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 13px !important;
}

.node rect {
    stroke: #222;
    fill: #fff;
    stroke-width: 1.2px;
}

.node polygon {
    stroke: #333;
    fill: #fff;
    stroke-width: 1px;
}

.node text {
    fill: #000;
    font-size: 14px;
    font-weight: 400;
}

.edgePath path.path {
    stroke: #222;
    fill: none;
    stroke-width: 1.2px;
}

.edgeLabel text {
    font-family: 'Courier', serif;
    font-size: 15px !important;
    font-weight: 500;
}

.active rect {
    fill: #00ffd0 !important;
}

#svg-canvas .label {
    font-size: inherit;
}

.state-machine {
}

.page-title {
    margin-bottom: 1em;
    margin-top: 1em !important;
}

.account-events, .order-events {
}

.command-btn {
    display: inline-block;
    padding: .25em;
}

#accordion table {
    margin-bottom: 0;
}

#accordion .panel-body {
    padding: 0;
}

#accordion .control-group {
    margin-bottom: 0;
    padding: 0;
}

legend {
    margin-top: .5em;
    margin-bottom: .5em !important;
}

#svg-canvas {
    overflow: visible !important;
}

.expandable > legend:before, .panel-title.expandable::before {
    content: '\25B8';
    padding-right: .25em;
    cursor: pointer;
}

.expanded > legend:before, .panel-title.expanded::before {
    content: '\25BE';
    padding-right: .25em;
    cursor: pointer;
}

.header-title {
    margin-bottom: 1em !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 25px;
    padding-left: 25px;
}