<div class="row">
    <div class="col-md-6">
        <div class="well">
            <div loader domain="home">
                <fieldset class="control-group">
                    <legend class="item-title">Warehouse</legend>
                    <form class="warehouse-form"></form>
                </fieldset>
                <fieldset class="control-group">
                    <legend>Inventory</legend>
                    <div class="warehouse-inventory"></div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <div>
                <fieldset class="control-group">
                    <legend class="page-title header-title">Account 1</legend>
                    <form class="account-form"></form>
                </fieldset>
            </div>
        </div>
    </div>
</div>